*{
    box-sizing: border-box;
}
body{
    font-family: 'Roboto', sans-serif;
    background-image: url("images/patt.png");
    margin: 0;
}
.container{
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.row{
    margin-left: -15px;
    margin-right: -15px;
}
.row:after,.menu::after{
    content: "";
    display: block;
    clear: both;
}
[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.col-md-3{
    width: 25%;
}
.col-md-6{
    width: 50%;
}
.col-md-9{
width: 75%;
}
.col-md-8{
    width: 66.6%;
}
.col-md-4{
    width: 33.3%;
}
.header{
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}
.logo{
    margin-top: 7px;
}
.menu > li{
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
}
.menu > li:last-child{
    border-right: 1px solid #2c71b8;
}
.menu > li > a {
    display: block;
    text-decoration: none;
    height: 50px;
    font-size: 21px;
    font-weight: 300;
    color: #2c71b8;
    text-align: center;
    line-height: 50px;
}
.menu > li > a:hover{
    color: white;
    background-color: #2c71b8;
}
.form-search{
    border: 1px solid #2c71b8;
    margin-top: 5px;
    width: 200px;
    height: 40px;
    position: relative;
}
.input-search-text{
    border: none;
    padding-left: 20px;
    height: 40px;
    outline: none;
    background: none;
    font-size: 21px;
    font-weight: 300;
    color: #2c71b8;
}
.input-search-text:focus{
    border: none;
    background: none;
}
.input-search-text::placeholder{
    padding-left: 0px;
    padding-top: 15px;
    color: #2c71b8;
}
.input-search-button{
    background-image: url(images/icon\ \(4\).png);
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    height: 30px;
    width: 30px;
    top: 4px;
    right: 5px;
    bottom: 5px;
    background-color: #2c71b8;
    border: none;
    outline: none;
    cursor: pointer;
}
.cart{
    background-image: url(images/icon\ \(1\).png);
    background-repeat: no-repeat;
    background-position: center;
    width: 40px;
    height: 40px;
    background-color: white;
    margin-top: 5px;
    position: relative;
    cursor: pointer;
}
.circle{
position: absolute;
line-height: 20px;
width: 20px;
height: 20px;
font-size: 12px;
background-color: #2c71b8;
text-align: center;
border-radius: 50%;
color: white;
top: -10px;
left: -10px;
}
.menu ul{
    list-style: none;
    position: relative;
    background-color:  rgba(255, 255, 255, 0.75);
    font-size: 21px;
    font-weight: 300;
    color: white;
}
.menu ul::after {
    content: "";
    display: block;
    clear: both;
  }
  .menu li ul{
    width: 285px;
    height: 40px;
    position: relative;
    float: left;
}
.menu li .submenu a{
    display: block;
    height: 40px;
    min-width: 100px;
    text-decoration: none;
    background-color: #2c71b8;
    color:white;
    text-align: left;
    padding-left: 28px;
    line-height: 40px;
}
.submenu li a:hover{
    background-color: white;
    color: #2c71b8;
}
.col-md-6 ul .submenu{
    display: none;
    position: absolute;
}
.col-md-6 li:hover .submenu{
    display: block;
}
.products > a{
background-image: url(images/bluearrow.png);
background-repeat: no-repeat;
background-position: right 13px bottom 18px;
background-size: 10px;
}
.products > a:hover{
  background-image: url(images/whitearrow.png);
  background-repeat: no-repeat;
  background-position: right 13px bottom 18px;
  background-size: 10px;
}
li.products:hover > a{
    background-image: url(images/whitearrow.png);
    background-repeat: no-repeat;
    background-position: right 13px bottom 18px;
    background-size: 10px;
    background-color: #2c71b8;
    color: white;
}
.device1{
    border: 1px solid white;
    background-color: rgba(44, 113, 184, 0.75);
    width: 270px;
    height: 470px;
    margin-right: 30px;
    margin-top: 0;
    margin-left: 3px;
    margin-bottom: 0px;
}
.device11,
.device22,
.device33,
.device44,
.device55,
.device66,
.device77,
.device88,
.device99{
    display: block;
    border: none;
    background-color:rgba(202, 219, 237, 0.75);
    background-repeat: no-repeat;
    background-position: center;
    width: 270px;
    height: 180px;
    margin-top: 30px;
    margin-right: 30px;
    margin-left: 3px;

}
.device11,
.device22,
.device33,
.device44,
.device55,
.device66,
.device77,
.device88,
.device99{
    display: block;
    text-align: center;
    padding-top: 55px;
}
.device22{
    padding-top: 60px;
}
.device33,
.device77,
.device99{
    padding-top: 40px;
}
.device55,
.device88{
    padding-top: 45px;
}
.device2{
    border: 1px solid white;
    background-color: rgba(44, 113, 184, 0.75);
    width: 270px;
    height: 470px;
    margin-top:0;
    margin-right: 30px;
    margin-bottom: 30px;
    margin-left: 3px;
}
.device3{
    border: 1px solid white;
    background-color: rgba(44, 113, 184, 0.75);
    width: 270px;
    height: 470px;
    margin-top: 0;
    margin-bottom: 30px;
    margin-left: 3px;
    margin-right: auto;
}
.link{
    margin-top: 30px;
    margin-bottom: 28px;
}
.link a{
    margin-left: -1px;
    text-decoration: none;
    font-size: 14px;
    font-weight: 300;
    color: #96b8dc;
}
.link a:hover{
    text-decoration: underline;
}
.laptop{
    width: 900px;
    height: 50px;
    margin-left: -3px;
    font-size: 48px;
    font-style: bold;
    font-weight: 500;
    color: white;
    margin-bottom: 20px;
}
p{
    font-size: 21px;
    font-weight: 300;
    color: white;
    padding-left: 15px;
}
h2{
    font-size: 30px;
    font-weight: 500;
    color: white;
    padding: 14px 0px 18px 18px;
}
.details{
    display: block;
    border: 1px solid white;
    width: 210px;
    height: 50px;
    margin-top: 20px;
    background-color: #2c71b8;
    margin-left: 30px;
}
.details a{
    display: block;
    text-align: center;
    height: 100%;
    margin-top: 13px;
    margin-left:auto;
    margin-right: auto;
    text-decoration: none;
    font-size: 21px;
    font-weight: 500;
    color: white;
}
.addcart{
    border: 1px solid white;
    display: block;
    width: 210px;
    height: 50px;
    background-color: #598fc7;
    margin-left: 30px;
    margin-top: 15px;
    
}
.addcart a{
    display: block;
    text-align: center;
    height: 100%;
    padding-top: 13px;
    margin-left:auto;
    margin-right: 15px;
    text-decoration: none;
    font-size: 21px;
    font-weight: 500;
    color: white;
}
.addcarticon{
    cursor: pointer;
    margin-left: 175px;
    margin-top: -34px;
}
span{
    font-size: 21px;
    font-weight: 500;
    color: white;
}
.dollar{
    display: inline-block;
    margin-top: 20px;
    margin-left: 60px;
}
.dollarbig{
    font-size: 48px;
    font-weight: 900;
    color: white;
    position: relative;
}
.dollarlittle{
    font-weight: 900;
    position: absolute;
}
[class*="lightbox"] {
    background-image: url(images/icon\ \(8\).png);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    cursor: pointer;
    margin-left: 230px;
    margin-top: -138px;
}
.lightbox22{
    margin-top: -115px;
}
.lightbox44,
.lightbox66{
    margin-top: -132px;
}
.lightbox55,
.lightbox88{
    margin-top: -140px;
}
.lightbox33,
.lightbox77,
.lightbox99{
    margin-top: -135px;
}
[class*="lightbox"]:hover{
    background-image: url(images/icon\ \(6\).png);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    background-color: #2c71b8;
}
.like{
    background-image: url(images/icon\ \(5\).png);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    border: 1px solid #2c71b8;
    cursor: pointer;
    margin-left: 230px;
    margin-top: 10px;
}
.like:hover{
    background-image: url(images/icon\ \(7\).png);
    background-repeat: no-repeat;
    background-position: center;
    width: 30px;
    height: 30px;
    background-color: #2c71b8;
}
